<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>distributed_dbms_sample</display-name>
    <servlet>
        <servlet-name>cs</servlet-name>
        <servlet-class>servlet.EnregistrementProprietaireServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Afficheservlet</servlet-name>
        <servlet-class>servlet.Afficheservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnregistrerLogementServlet</servlet-name>
        <servlet-class>servlet.EnregistrerLogementServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>cs</servlet-name>
        <url-pattern>/controleur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cs</servlet-name>
        <url-pattern>*.php</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Afficheservlet</servlet-name>
        <url-pattern>/Afficheservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Afficheservlet</servlet-name>
        <url-pattern>*.gar</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>EnregistrerLogementServlet</servlet-name>
        <url-pattern>/EnregistrerLogementServlet</url-pattern>
    </servlet-mapping>

</web-app>
